# bot

appid: ""
secret: ""

# ai
deepseek: ""
timeout: 10
deepseek_model: "deepseek-reasoner"

# mongodb

mongodb:
  host: "localhost"
  port: 27017
  database: "qqbot"
  username: ""
  password: ""

cache:
  lifetime: 60
